<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="innerwrapper">
            <div class="bigscreen_wrapper">
                <h1 id="temporary_text">Click on the video you want to recall</h1>
                <div class="bigvideo_wrapper" id="bigvideo"></div>
                <div class="videobuttons_wrapper">
                    <button class="button-33 mediabuttons" id="playbutton">▶️</button>
                    <button class="button-33 mediabuttons" id="pausebutton">⏸</button>
                </div>
            </div>
            
            <div class="list_wrapper">
                <p class="text_title">Your best parts</p>
                <div class="list_container">
                    
                    {% for stamp in data.video_data %}
                    {{ stamp }}
                    <div class="single_video_wrapper">
                        <video class="single_video">
                            <source src="data/video/{{ data.link }}#t={{ stamp.t_start }},{{ stamp.t_end }}"> 
                        </video>
                    </div>
                    <div class="single_video_wrapper">
                        <video class="single_video">
                            <source src="data/video/{{ data.link }}#t={{ stamp.t_start }},{{ stamp.t_end }}"> 
                        </video>
                    </div>
                    <div class="single_video_wrapper">
                        <video class="single_video">
                            <source src="data/video/{{ data.link }}#t={{ stamp.t_start }},{{ stamp.t_end }}"> 
                        </video>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <button class="button-33" onclick="location.href='/'">Home</button>
        <script src="/static/report.js"></script>
    </div>
</body>
</html>